go 1.25.3

use (
	./app/gcp/server
	./lib/auth
	./lib/core
	./lib/fio
	./lib/gcp
	./lib/server
	./lib/service
	./lib/tmpl
	./services/auth
	./services/tissues
)

replace (
	github.com/tedla-brandsema/tissues/app/gcp/server v0.0.0 => ./app/gcp/server
	github.com/tedla-brandsema/tissues/lib/auth v0.0.0 => ./lib/auth
	github.com/tedla-brandsema/tissues/lib/core v0.0.0 => ./lib/core
	github.com/tedla-brandsema/tissues/lib/fio v0.0.0 => ./lib/fio
	github.com/tedla-brandsema/tissues/lib/gcp v0.0.0 => ./lib/gcp
	github.com/tedla-brandsema/tissues/lib/server v0.0.0 => ./lib/server
	github.com/tedla-brandsema/tissues/lib/service v0.0.0 => ./lib/service
	github.com/tedla-brandsema/tissues/lib/tmpl v0.0.0 => ./lib/tmpl
	github.com/tedla-brandsema/tissues/services/auth v0.0.0 => ./services/auth
	github.com/tedla-brandsema/tissues/services/tissues v0.0.0 => ./services/tissues
)
