{{define "importmap"}}
<script type="importmap">
{
  "imports": {
    "@fluentui/web-components": "https://esm.sh/@fluentui/web-components",
    "tissues-auth-login": "{{.BasePath}}/static/components/tissues-auth-login.js"
  }
}
</script>
{{end}}
